

.childrenElement {
    display: flex;
    justify-content: center;
}

#darkTheme {
    background-color: #0D1117;
    color: #F0F6FC;

}

#lightTheme {
    background-color: #FFFFFF;
    color: #1F2328;
}