.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#nightTheme {
    background-color: #0D1117;
    color: white;
}

#sunTheme {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
}